---
layout: home
title: 개발 노트
subtitle: 하나 하나 기록 하다보면, 늘어가는 개발 지식!
language: ko  # 페이지 언어를 한국어로 설정
---

<!-- {{ site.categories | size }} -->
<!-- 2 출력 -->

<!-- {% assign cat_collection = site.collections | where: "label", "categories" | first %}
{{ cat_collection.docs | size }} -->
<!-- 2 출력 -->

<!-- 
{% assign cat_docs = site.categories %}
<ul>
  {% for doc in cat_docs %}
    <li>{{ doc.title }} (URL: {{ doc.url }})</li>
  {% endfor %}
</ul> -->
<!-- 또는 배열 크기: {{ cat_docs.size }} -->

<!-- {% for collection in site.collections %}
    {% if collection.label != "posts" %}
        {{ collection.label }}: {{ collection.docs.size }}<br>
    {% endif %}
{% endfor %} -->