---
layout: page
---

{{ content }}

<h2>포스트 목록</h2>
<pre>
  # page inspect
{{ page | inspect }}
</pre>
{% assign category_name = page.title | downcase %}
<h4>카테고리명 : {{ category_name }}</h4>
{% assign filtered_posts = site.posts | where: "categories", category_name %}
<ul>
    {% assign post_count = filtered_posts | size %}
    {% for post in filtered_posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%Y-%m-%d" }}
    </li>
    {% endfor %}
    {% if post_count == 0 %}
    <p>아직 포스트가 없습니다.</p>
    {% endif %}
</ul>